<!DOCTYPE html>
<html layout:decorate="~{layout/admin-layout.html}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
</head>
<body layout:fragment="content">
    <!-- main content -->
    <main class="container-fluid" >
        <div class="container-fluid">
            <div class="row">
                <!-- main title -->
                <div class="col-12">
                    <div class="main__title">
                        <h2>Edit Movie Screening</h2>
                    </div>
                </div>
                <!-- end main title -->
                <!-- form -->
                <div class="col-12">
                    <form id="editMSForm" class="sign__form sign__form--add">
                        <input type="hidden" name="msID" >
    					<input type="hidden" name="roomID" >
    					<input type="hidden" name="cinemaId">
                        <div class="row">
						<div class="sign__group">
						    <label class="sign__label" for="movieID">Movie</label>
						    <select name="movieID" id="movieID" class="sign__select" required>
                                <th:block th:each="movie : ${movies}">
                                    <option th:value="${movie.movieID}"
                                            th:selected="${movieScreening.movie.movieID == movie.movieID}">
                                        [[${movie.movieName}]]
                                    </option>
                                </th:block>
						    </select>
						</div>


                            <div class="col-12">
                                <label class="sign__label" for="roomName">Room</label>
                                <div class="sign__group">
                                    <input type="text" id="roomName" class="sign__input" name="roomName" value="${movieScreening.room.roomName}" placeholder="Room Name" readonly>
                                </div>
                            </div>

							<div class="col-12">
							    <label class="sign__label" for="screeningDate">Screening Date</label>
							    <div class="sign__group">
							        <input type="date" class="sign__input" name="screeningDate" id="screeningDate" required>
							    </div>
							</div>
							
							<div class="col-12 col-md-6">
							    <label class="sign__label" for="startHour">Start Hour</label>
							    <div class="sign__group">
							        <input type="time" class="sign__input" name="startHour" id="startHour" placeholder="Start Hour" required>
							    </div>
							</div>
							
							<div class="col-12 col-md-6">
							    <label class="sign__label" for="endHour">End Hour</label>
							    <div class="sign__group">
							        <input type="time" class="sign__input" name="endHour" id="endHour" placeholder="End Hour" required>
							    </div>
							</div>

                            <div class="col-12">
                                <label class="sign__label" for="movieScreening_status">Status</label>
                                <div class="sign__group">
                                    <select class="sign__select" name="status" id="movieScreening_status" required>
                                        <option value="true" >Active</option>
                                        <option value="false" >Inactive</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 d-flex justify-content-start align-items-center" style="gap: 15px;">
                            	<a th:href="@{/admin/moviescreenings(id=${movieScreening.room.roomID},cinemaId=${movieScreening.room.cinema.cinemaID})}"
                            	 class="sign__btn sign__btn--small sign__btn--outline"><span>Back to List</span></a>
                                <button type="submit" class="sign__btn sign__btn--small"><span>Apply Changes</span></button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- end form -->
            </div>
        </div>
    </main>
    <!-- end main content -->

   
</body>