<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/web-layout.html}"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
</head>
<body>
<div layout:fragment="content">
    <section class="account-section bg_img"
             th:data-background="@{assets/images/account/account-bg.jpg}">
        <div class="container">
            <div class="padding-top padding-bottom">
                <div class="account-area">
                    <div class="section-header-3">
                        <span class="cate">Change Password</span>
                        <h2 class="title">ValCT</h2>
                    </div>
                    <form th:action="@{/changepass}" method="post"
                          class="account-form">
                        <div th:if="${mess != null}">
                            <label class="form-group">${mess}</label>
                        </div>
                        <input type="hidden" name="formail" value="${formail}" />
                        <div class="form-group">
                            <label for="email1">New password<span>*</span></label> <input
                                type="password" placeholder="Enter New Password"
                                name="passchange" value="${passchange}" id="email1" required>
                        </div>
                        <div class="form-group">
                            <label for="email1">Re-Type Password<span>*</span></label> <input
                                type="password" placeholder="Enter ReType Password"
                                name="passcheck" value="${passcheck}"  required>
                        </div>
                        <br>
                        <div class="form-group text-center">
                            <input type="submit" value="Comfirm Password">
                        </div>
                    </form>
                    <div class="option">
                        Already have an account? <a href="@{/signin}">Login</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>