<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
</head>
<body>
<!-- ==========Newslater-Section========== -->
<footer class="footer-section" th:fragment="footer">
    <div class="container">
        <div class="footer-top">
            <div class="logo">
                <a th:href="@{/userHome}">
                    <img th:src="@{static/assets/images/footer/footer-logo.png}" alt="footer">
                </a>
            </div>
            <ul class="social-icons">
                <li>
                    <a >
                        <i class="fab fa-facebook-f"></i>
                    </a>
                </li>
                <li>
                    <a  class="active">
                        <i class="fab fa-twitter"></i>
                    </a>
                </li>
                <li>
                    <a >
                        <i class="fab fa-pinterest-p"></i>
                    </a>
                </li>
                <li>
                    <a >
                        <i class="fab fa-google"></i>
                    </a>
                </li>
                <li>
                    <a >
                        <i class="fab fa-instagram"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="footer-bottom">
            <div class="footer-bottom-area">
                <div class="left">
                    <p>Copyright © 2024.All Rights Reserved By <a >"Nhóm 5 - Công nghệ phần mềm "</a></p>
                </div>
                <ul class="links">
                    <li>
                        <a >About</a>
                    </li>
                    <li>
                        <a >Terms Of Use</a>
                    </li>
                    <li>
                        <a >Privacy Policy</a>
                    </li>
                    <li>
                        <a >FAQ</a>
                    </li>
                    <li>
                        <a>Feedback</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!-- ==========Newslater-Section========== -->
</body>
</html>