<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>ValCT</title>
</head>
<body>
<!-- header -->
<header class="header" th:fragment="header">
    <div class="header__content">
        <!-- header logo -->
        <a th:href="@{/admin/adminHome}" class="header__logo">
            <img th:src="@{/static/assets2/img/logo.png}" alt="" width="200" height="200">
        </a>
        <!-- end header logo -->

        <!-- header menu btn -->
        <button class="header__btn" type="button">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <!-- end header menu btn -->
    </div>
</header>
<!-- end header -->

</body>
</html>