<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
</head>
<body th:fragment="sidebar">
<div class="sidebar">
    <!-- sidebar logo -->
    <a th:href="@{/admin/adminHome}"
       class="sidebar__logo"> <img
            th:src="@{/static/assets2/img/logo.png}" alt="" width="300" height="300">
    </a>
    <!-- end sidebar logo -->

    <!-- sidebar user -->
    <div class="sidebar__user">
        <div class="sidebar__user-img">
            <img th:src="@{/static/assets2/img/user.svg}"
                 alt="">
        </div>

        <div class="sidebar__user-title">
            <span>Admin</span>
            <p id="nameAdmin"></p>
        </div>
    </div>
    <!-- end sidebar user -->

    <!-- sidebar nav -->
    <div class="sidebar__nav-wrap">
        <ul class="sidebar__nav">

            <li class="sidebar__nav-item">
                <a th:href="@{/admin/cinema/cinema-list}" class="sidebar__nav-link"><i class="ti ti-door"></i>
                    <span>Cinema</span>
                </a>
            </li>
            <li class="sidebar__nav-item">
                <a th:href="@{/admin/Movie.html}" class="sidebar__nav-link">
                    <i class="ti ti-movie"></i> <span>Movie</span>
                </a>
            </li>
            <li class="sidebar__nav-item"><a
                    th:href="@{/admin/news/news-list}"
                    class="sidebar__nav-link"><i class="ti ti-news"></i> <span>News
							And Discount</span></a></li>
            <li class="sidebar__nav-item">
                <a th:href="@{/adminMessage}" class="sidebar__nav-link"><i class="ti ti-message-circle"></i>
                    <span>Chats</span>
                </a>
            </li>

            <li class="sidebar__nav-item">
                <a th:href="@{/admin/user/user-list.html}" class="sidebar__nav-link"><i class="ti ti-users"></i>
                    <span>Users</span>
                </a>
            </li>


            <li class="sidebar__nav-item">
                <a th:href="@{/admin/coupons/coupon-list}" class="sidebar__nav-link"><i class="ti ti-ticket"></i>
                    <span>Coupon</span>
                </a>
            </li>

            <li class="sidebar__nav-item">
                <a th:href="@{/admin/pop-corn/pop-corn-list}" class="sidebar__nav-link"><i class="ti ti-baby-bottle"></i>
                    <span>Popcorn</span>
                </a>
            </li>
            <li class="sidebar__nav-item">
                <a th:href="@{/admin/revenues-statics}" class="sidebar__nav-link"><i class="ti ti-presentation"></i>
                    <span>Revenue</span>
                </a>
            </li>

            <li class="sidebar__nav-item">
                <a th:href="@{/logout}" class="sidebar__nav-link"><i class="ti ti-arrow-left"></i>
                    <span>Back to home</span>
                </a>
            </li>
        </ul>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
            // Lấy URL hiện tại của trang
            const currentPath = window.location.pathname;

            // Lấy tất cả các liên kết trong thanh sidebar
            const sidebarLinks = document.querySelectorAll('.sidebar__nav-link');

            // Duyệt qua tất cả các liên kết để tìm liên kết nào khớp với URL hiện tại
            sidebarLinks.forEach(link => {
                if (link.getAttribute('href') === currentPath) {
                    link.classList.add('sidebar__nav-link--active');
                }
            });
            $(async function () {
                try {
                    const res = await fetch('/admin/adminInfo', {credentials: 'include'});
                    if (!res.ok) throw new Error(`HTTP error! Status: ${res.status}`);

                    const data = await res.json();
                    document.getElementById('nameAdmin').textContent = data.userName;
                } catch (err) {
                    document.getElementById('nameAdmin').textContent = "?";
                }
            });
        </script>
    </div>
    <!-- end sidebar nav -->
</div>
</body>
</html>